.primary-btn {
  background-image: linear-gradient(113deg, #ecf1f6, #ffffff);
  box-shadow: 4px 3px 9px 1px #8d8888;
  border-radius: 4px;
}
.primary-card {
  background-image: linear-gradient(113deg, #ecf1f6, #ffffff);
  /* background-image: linear-gradient(113deg, #eef6fe, #ffffff); */
  box-shadow: 4px 3px 9px 1px #c0c0c0;
  border-radius: 4px;
}
.primary-btn:active {
  /* box-shadow: 4px 3px 9px 1px #8c28ff; */
  box-shadow: 4px 3px 9px 1px #c0c0c0;
}

.secondary-btn {
  background-image: linear-gradient(37deg, #7700ac, #ff006a);
  box-shadow: 4px 3px 9px 1px #8d8888;
  border-radius: 4px;
  color: white;
}
.secondary-card {
  background-image: linear-gradient(229deg, #7700ac, #ff006a);
  box-shadow: 4px 3px 9px 1px #c0c0c0;
  border-radius: 4px;
  color: white;
}

.secondary-btn:active {
  box-shadow: 4px 3px 9px 1px #c0c0c0;
}

.spacing {
  letter-spacing: 0.8px;
}

.inset-icon {
  background-image: linear-gradient(113deg, #ecf1f6, #ffffff);
  /* background-image: linear-gradient(42deg, #cbd3ff, #eeeffc) */
  box-shadow: inset 2px 2px 3px #ede0ff;
}
